<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Login</title>

    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/argi.webp">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-[url('/images/bgs.webp')]"
    >
      <div
        class="flex h-screen w-full items-center justify-center bg-gray-900 bg-opacity-50"
      >
        <div
          class="rounded-xl bg-gray-800 bg-opacity-50 px-20 py-10 shadow-lg backdrop-blur-md max-sm:px-8"
        >
          <div class="flex flex-col w-60 text-white sm:w-96 ">
            <div class="mb-8 flex flex-col items-center">
              <img src="/images/rgi.webp" width="150" alt="" srcset="" />
              <hr class="my-2 h-2 border-t-white bg-white-100" />
                <h1 class="mb-2 mt-4 text-2xl">Clearance Portal</h1>
                <h2 class="mb-2 mt-2 font-poppins text-xl">Admin Login</h2>
            </div>
            <% if (message && message.length > 0) { %>
                <h3 class="text-base bg-white-100 font-bold leading-tight tracking-tight text-red-600 md:text-xl dark:text-red"><%= message[0] %>   </h3>
            <% } %>
            <form method="POST"  action="/adminlogin">
                <label class="font-medium block mb-1 mt-2 text-white-700" for="username">
                    Username or Email
                  </label>
                  <input type="text" name="username" id="username"  class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16 " id="username" type="text" autocomplete="off" autofocus />
                
                  <label class="font-medium block mb-1 mt-2 text-white-700" for="password">
                    Password
                  </label>
                  <div class="relative w-full">
                    <div class="absolute inset-y-0 right-0 flex items-center px-2">
                      <input class="hidden js-password-toggle"  id="toggle" type="checkbox" />
                      <label class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label" for="toggle">show</label>
                    </div>
                    <input type="password" name="password" id="password"  class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16  js-password" id="password" type="password" autocomplete="off"
                    />
                  </div>
                  <div class="mt-8 flex justify-center text-lg text-black">
                    <button type="submit" 
                    class="rounded-sm   px-10 py-2 text-black bg-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:text-white hover:bg-black"
                    >Login</button>
                  </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script>
        const passwordToggle = document.querySelector('.js-password-toggle')

passwordToggle.addEventListener('change', function() {
  const password = document.querySelector('.js-password'),
    passwordLabel = document.querySelector('.js-password-label')

  if (password.type === 'password') {
    password.type = 'text'
    passwordLabel.innerHTML = 'hide'
  } else {
    password.type = 'password'
    passwordLabel.innerHTML = 'show'
  }

  password.focus()
})

    </script>
  </body>
</html>
